# 핵심 기능

In [1]:
import numpy as np
import pandas as pd

## 재색인
판다스 객체의 중요한 기능 중 하나는 reindex 인데, 새로운 색인에 적합하도록 객체를 새로 생성하는 기능이다.

In [2]:
obj = pd.Series([4.5,7.2,-5.3,3.6],index=["d","b","a","c"])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

Series 객체에 대해서 reindex를 호출하면 데이터를 새로운 색인에 맞게 재배열하고, 존재하지 않는 색인값이 있다면 비어있는 값을 새로 추가한다.

In [4]:
obj2 = obj.reindex(["a","b","c","d","e"])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

시계열 같은 순차적인 데이터를 재색인할 때, 값을 보간하거나 채워 넣어야 할 경우가 있다.
method 옵션을 이용해서 이를 해결할 수 있으며 ffill 같은 메서드를 이용해 누락된 값을 직전의 값으로 채워 넣을 수 있다.

In [5]:
obj3 = pd.Series(["blue","purple","yellow"],index=[0,2,4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [7]:
obj3.reindex(np.arange(6),method="ffill")

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

DataFrame에 대한 reindex는 행(색인), 열 또는 둘 다 변경 가능하다. 그냥 순서만 전달하면 행이 재색인 된다.

In [9]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index=["a","c","d"],columns=["Ohio","Texas","California"])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [10]:
frame2 = frame.reindex(index=["a","b","c","d"])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

열은 columns 예약어를 사용해 재색인한다.

In [11]:
states = ["Texas","Utah","California"]
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

Ohio 는 states에 포함되어 있지 않으므로 결과에서 해당 열은 제외된다.

특정 축을 재색인하는 또 다른 방법은 새로운 축 레이블을 인수로 넘긴 다음 axis키워드를 사용해 재색인할 축을 지정하는것이다.

In [15]:
frame.reindex(states,axis="columns")

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

## 하나의 행이나 열 삭제하기
삭제하려는 축이 제외된 리스트를 이미 가지고 있거나, 색인 배열을 갖고 있다면 reindex 메서드나 .loc 기반의 색인을 이용할 수 있으므로 행이나 열을 쉽게 삭제할 수 있다.
다만 이방법은 데이터의 모양을변경하는 작업이 필요하다. drop 메서드를 사용하면 선택한 값들이 삭제된 새로운 객체를 얻을 수 있다.

In [16]:
obj = pd.Series(np.arange(5.),index=["a","b","c","d","e"])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [18]:
new_obj = obj.drop("c")
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [19]:
obj.drop(["d","c"])

a    0.0
b    1.0
e    4.0
dtype: float64

DataFrame에서는 행과 열 모두에서 색인값을 삭제할 수 있다.

In [20]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),index=["Ohio","Colorado","Utha","New York"],columns=["one","two","three","four"])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utha        8    9     10    11
New York   12   13     14    15

drop 함수 인수로 삭제하고 싶은 행 이름을 넘기면 해당 행의 값을 모두 삭제한다.

In [31]:
data.drop(index=["Colorado","Ohio"])

          one  two  three  four
Utha        8    9     10    11
New York   12   13     14    15

열의 레이블을 삭제하려면 columns 키워드를 사용한다.

In [33]:
data.drop(columns=["one","three"])

          two  four
Ohio        1     3
Colorado    5     7
Utha        9    11
New York   13    15

열의 값을 삭제할 때는 넘파이처럼 axis=1 또는 axis="columns"를 인수로 넘겨주면 된다.

In [41]:
data.drop(["one"],axis="columns")

          two  three  four
Ohio        1      2     3
Colorado    5      6     7
Utha        9     10    11
New York   13     14    15